<html>
<head>
<link rel="stylesheet" href="/layout/styles/baseL.css" type="text/css">
</head>
<body>

<div class="baseAlto">
	<div class="baseCentrato">
		<div class="containerSW">
				<a th:href="@{/home}">
					<img src="/immagini/sew2-removebg-preview.png">
				</a>
		</div>
	</div>
</div>
<div class="baseDati">
	<div class="baseDatiUsername">[[${utente.username}]]</div>
	<div class="sotto5px">
		<a th:href="@{/logout}">Logout</a>
	</div>
</div>




<div class="separatore"></div>



<div class="baseBasso">
<div class="baseCentroSupporto">Search and Work</div>
</div>

</body>
</html>