<html>
<head>
</head>

<body>
<p>Prova d'inizio</p>

[[${utente.username}]]

<div th:each="annuncio:${annunci}">[[${annuncio.nome}]]</div>



<div class="centrolavoro2">
	<table class="annuncioBordo" border="1">
		<tr>
			<td>
				<div class="annuncioTabella">
				<div class="annuncioAggiustaposizione">	
					<div class="annuncioNome">Nome:</div>
					<div class="annuncioTipologia">weeb</div>
				</div>
					<div class="annuncioCognome">Cognome:</div>
					<div class="annuncioTesto">Testo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo </div>
					<div class="annuncioEmail"> Email : prova@email.it </div>
					<div class="annuncioTelefono">Telefono: 12345678911</div>
				</div>
			</td>
			<td>
				<div class="annuncioTabella">
					<div class="annuncioAggiustaposizione">	
						<div class="annuncioNome">Nome:</div>
						<div class="annuncioTipologia">weeb</div>
					</div>
					<div class="annuncioCognome">Cognome:</div>
					<div class="annuncioTesto">Testo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo </div>
					<div class="annuncioEmail"> Email : prova@email.it </div>
					<div class="annuncioTelefono">Telefono: 12345678911</div>
				</div>
			</td>
		
			<td>
				<div class="annuncioTabella">
					<div class="annuncioAggiustaposizione">	
						<div class="annuncioNome">Nome:</div>
						<div class="annuncioTipologia">weeb</div>
					</div>
					<div class="annuncioCognome">Cognome:</div>
					<div class="annuncioTesto">Testo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo </div>
					<div class="annuncioEmail"> Email : prova@email.it </div>
					<div class="annuncioTelefono">Telefono: 12345678911</div>
				</div>
			</td>
			
		</tr>
		<tr>
			<td>
				<div class="annuncioTabella">
					<div class="annuncioAggiustaposizione">	
					<div class="annuncioNome">Nome:</div>
					<div class="annuncioTipologia">weeb</div>
				</div>
					<div class="annuncioCognome">Cognome:</div>
					<div class="annuncioTesto">Testo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo </div>
					<div class="annuncioEmail"> Email : prova@email.it </div>
					<div class="annuncioTelefono">Telefono: 12345678911</div>
				</div>
			</td>
			<td>
				<div class="annuncioTabella">
					<div class="annuncioAggiustaposizione">	
					<div class="annuncioNome">Nome:</div>
					<div class="annuncioTipologia">weeb</div>
				</div>
					<div class="annuncioCognome">Cognome:</div>
					<div class="annuncioTesto">Testo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo </div>
					<div class="annuncioEmail"> Email : prova@email.it </div>
					<div class="annuncioTelefono">Telefono: 12345678911</div>
				</div>
			</td>
			<td>
				<div class="annuncioTabella">
					<div class="annuncioAggiustaposizione">	
					<div class="annuncioNome">Nome:</div>
					<div class="annuncioTipologia">weeb</div>
				</div>
					<div class="annuncioCognome">Cognome:</div>
					<div class="annuncioTesto">Testo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo lungo </div>
					<div class="annuncioEmail"> Email : prova@email.it </div>
					<div class="annuncioTelefono">Telefono: 12345678911</div>
				</div>
			</td>		

		</tr>
	
	</table>
	
</div>
</body>
</html>